openapi: 3.0.0

info:
  title: "Booking API Documentation"
  version: "1.0.0"
  description: |
    Real-time Booking.com data – Unofficial API for listings worldwide.

    Get real-time data from Booking.com, a leading and widely used online
    platform for booking hotels, vacation rentals, apartments, and other
    accommodations.

    This unofficial API provides access to Booking listings, prices,
    availability, and more — helping you find a great place to stay at
    an amazing price.

    All data is collected from publicly available content.

servers:
  - url: https://api.viboapi.com

paths:

  /booking/currency:
    get:
      summary: "currencies"
      tags:
        - General
      parameters:
        - name: name
          in: query
          required: false
          schema:
            type: string
            example: "USD"
          description: |
            Optional currencies name or code.
            Example: `USD`

      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: object

  /booking/languages:
    get:
      summary: "languages"
      tags:
        - General
      parameters:
        - name: name
          in: query
          required: false
          schema:
            type: string
            example: "United States"
          description: |
            Optional languages name.
            Example: `United States`

      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: object

  /booking-app/flights/auto-complete:
    get:
      summary: "flights/auto-complete"
      tags:
        - Flights

      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
            example: "new"
          description: |
            Search for an airport, city, or other flight location.

            - Required: true
            - Example: `new`

      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: object

  /flights/search-roundtrip:
    get:
      summary: "Search round-trip flights"
      tags:
        - Flights

      parameters:

        - name: leavingFrom
          in: query
          required: true
          schema:
            type: string
            example: "JFK"
          description: |
            Departure airport code.

            - Required: true
            - The value can be retrieved from the `/flights/auto-complete`
              endpoint using the `data.code` field where `type` is `AIRPORT`.
            - Example: `JFK`

        - name: goingTo
          in: query
          required: true
          schema:
            type: string
            example: "LOS"
          description: |
            Destination airport code.

            - Required: true
            - The value can be retrieved from the `/flights/auto-complete`
              endpoint using the `data.code` field where `type` is `AIRPORT`.
            - Example: `LOS`

        - name: departureDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: |
            Departure date.

            - Format: `YYYY-MM-DD`
            - If not provided, the API uses the current date plus one day.

      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: object

  /booking-app/flights/search-minprice-roundtrip:
    get:
      summary: "flights/search-minprice-roundtrip"
      tags:
        - Stays

      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
            example: "new"
          description: |
            Search for a hotel, city, region, or accommodation.

            - Required: true
            - Example: `new`

      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: object

components:
  securitySchemes:

    X-API-Key:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key

security:
  - X-API-Key: []

tags:
  - name: Flights
    description: Flight-related endpoints
  - name: Stays
    description: Accommodation-related endpoints
  - name: General
    description: General endpoints